html,
body {
    margin: 0;
    padding: 0;
}

.swiper {
    width: 100%;
    background-color: #CC2A41;
    text-align: center;
    align-items: center;
  }

.themagicslab {
    font-size: 112px;
    line-height: 168px;
    color:#ECE9E9;
    margin: 0 auto;
}
.magic_text_content {
    margin: 0 auto;
    align-items: center;
    max-width: 800px;
    font-size: 24px;
    line-height: 36px;
    color: #ECE9E9;
}

.swiper-button-prev {
    background-color: white;
}
  .swiper-button-prev::after {
      display: none;
  }

  .swiper-button-next::after {
      display: none;
  }
